.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	z-index: 1040;
}

.modal {
	opacity: 0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration: 0.2s;
	-moz-animation-duration: 0.2s;
	animation-duration: 0.2s;
	z-index: 1050;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	outline: 0;
}

.wrapper {
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.05);
	color: #fcfcfc;
	width: 320px;
	position: relative;
	margin: 30px auto;
}

.input {
	width: 100%;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

.header {
	text-align: center;
	padding: 10px;
	background-color: #2E88C5;
	font-size: 16px;
	font-weight: 300;
	border-radius: 2px 2px 0 0;
}

.date {
	background-color: #3498DB;
	text-align: center;
	padding: 10px;
	font-weight: 300;
}

.left {
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	background-color: #2E88C5;
}

.right {
	display: block;
	float: right;
	width: 20px;
	height: 20px;
	background-color: #2E88C5;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.month {
	font-size: 30px;
	line-height: 35px;
	font-weight: 300;
}

.day {
	font-size: 56px;
	line-height: 60px;
	padding-bottom: 10px;
	font-weight: 300;
}

.year {
	font-size: 26px;
	line-height: 35px;
	opacity: 0.7;
	font-weight: 300;
}

.arrow-left {
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: 7px;
	float: left;
	border-width: 10px 17.3px 10px 0;
	border-color: transparent #2e89c5 transparent transparent;
}

.arrow-right {
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: 7px;
	float: right;
	border-width: 10px 0 10px 17.3px;
	border-color: transparent transparent transparent #2e89c5;
}

.arrow-left:hover {
	border-color: transparent #1f5b83 transparent transparent;
}

.arrow-right:hover {
	border-color: transparent transparent transparent #1f5b83;
}

.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	box-sizing: border-box;
}

.table tr > th {
	text-align: center;
	font-weight: 600;
	vertical-align: bottom;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0 10px 0;
	color: #999;
}

.table tr > td {
	text-align: center;
	border: none;
	padding: 10px;
	vertical-align: top;
	color: #ddd;
	width: auto;
	font-size: 15px;
}

.table tr > td a {
	cursor: pointer;
	border-radius: 50%;
	padding: 4px;
	width: 20px;
	height: 20px;
	color: #444;
}

.table tr > td a.selected {
	background-color: #2e89c5;
	color: #fcfcfc;
}

.table tr > td a.move-to {
	background-color: #2c3e4f;
	color: #fcfcfc;
}

.table tr > td a.today {
	background-color: rgba(52,152,219,0.2);
}

.table tr > td a:hover {
	background-color: #2e89c5;
	color: #fcfcfc;
	text-decoration: none;
}

.footer {
	padding: 10px 10px 40px;
}

.footer .buttons {
	float: right;
}

.btn {
	margin-right: 30px;
	background-color: transparent;
	border: 0;
	font-family: 'Roboto';
	color: #444;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
	background-image: none;
}

.btn:hover {
	color: #ddd;
}

.btn:focus {
	outline: 0;
}

.btn:nth-of-type(2) {
	margin-right: 10px;
}

.power-keys {
	background-color: #3498DB;
	display: block;
	padding: 10px 10px 14px;
	height: 20px;
}

.power-keys-item {
	background-color: #2e89c5;
	border-radius: 3px;
	width: auto;
	padding: 5px 7px;
	color: #fcfcfc;
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	list-style: none;
	float: left;
	margin-right: 10px;
}
